{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
            <form action="" method="post" novalidate class="my-3">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.type != 'SubmitField' and 'csrf' not in field.name %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field(class="form-control dark-form-control") if field.type != 'BooleanField' else field }}
                            {% if field.errors %}
                                <ul class="errors">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
            <p>Forgot Your Password? <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a></p>
        </div>
    </div>
{% endblock %}