.dark-form-control {
    background-color: #343a40 !important; /* темно-серый */
    color: white !important; /* белый текст */
    border: none !important; /* убираем рамку */
}

input[id="file-upload"] {
    display: none;
}

label[for="file-upload"] {
    border: none; /* убираем рамку */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.reset-button {
    background-color: #007bff !important;
}